[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jaqqbek
[access "refs/for/refs/*"]
	read = group user/jaqqbek
	push = group user/jaqqbek
	label-Code-Review = -2..+2 group user/jaqqbek
	label-Verified = -1..+1 group user/jaqqbek
	rebase = group user/jaqqbek
	removeReviewer = group user/jaqqbek
	submit = group user/jaqqbek
[access "refs/heads/*"]
	read = group user/jaqqbek
	create = group user/jaqqbek
	push = +force group user/jaqqbek
	pushMerge = group user/jaqqbek
[access "refs/tags/*"]
	push = +force group user/jaqqbek
	pushTag = group user/jaqqbek
	pushSignedTag = group user/jaqqbek
